.page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.header, .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  padding: 30px;
}

.header {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 10px;
}
        
.profile-image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.main {
  gap: 20px;
  font-size: 16px;
}

.main__title {
  align-self: center;
  margin-block-end: 10px;
}
        
.contact-info, .about-us {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

.accent-text {
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: blue;
}

.link:hover {
  text-decoration: underline;
}